

/*#sidebar {
    grid-area: sidebar;
    background-color: #444444;
    color: rgba(255,255,255,0.9);
    vertical-align: middle;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#content {
    grid-area: content;
    height: 100%;
}

.navigation {
    grid-area: nav;
    display: inline-block;
    background-color: #444444;
    height: 50px;
    width: 100%;
}

#footer {
    grid-area: footer;
    text-align: center;
}

.navigation ul {
    padding: 0;
    text-decoration: none;
    margin-left: 5px;
}

    .navigation ul li {
        display: block;
        list-style-type: none;
        text-align: left;
        cursor: pointer;
    }

        .navigation .ul .li .li:hover {
            color: #00ccff;
        }

        .navigation .ul .li .li:active {
            color: #66ff66;
            border-bottom: 1px rgba(0, 204, 255, 0.7);
        }

.wrapper {
    font-family: helvetica;
    margin-top: 8px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px repeat(2, 1fr);
    grid-template-areas: "nav nav nav" "content content content" "footer  footer  footer";
    background-color: #fff;
    color: #444;
}*/
