        .alertText{
            color: red;
        }

        .okText{
            color:green;
        }

        .grid {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 2fr 2fr;
            grid-template-areas: 
                "meny nm" 
                "choose choose"
                "dato dato" 
                "aaa aaa"
                "bbb bbb" 
                "ccc ccc" 
                "ddd ddd" 
                "eee eee" 
                "fff fff" 
                "sub sub";
        }

        .wrapper {
            display: grid;
            border-radius: 5px;
            margin: 5%;
            padding: 30px 10px 30px 10px;
            font-family: Arial;
            min-width: 200px;
        }

        .box {
            padding: 10px 10px 10px 10px;
        }

        .nm {
            grid-area: nm;
            font-size: 20px;
            height: 28px;
            border: 1px solid rgb(192,192,192);
            text-align: center;
            margin-top: 30px;
            background-color: white;
        } 

        .meny {
            grid-area: meny;
        }

        .choosedate {
            grid-area: choose;
            text-align: center;
        }

        #choose {
            text-align: center;
            width: 100%;
            color: gray;
        }

        .dato {
            grid-area: dato;
            text-align: center;
        }

        #kalender {
            width: 100%;
            text-align: center;
            color: gray;
        }

        .a {
            grid-area: aaa;
            text-align: center;
        }

        .b {
            grid-area: bbb;
        }

        .c {
            grid-area: ccc;
            text-align: center;
        }

        .d {
            grid-area: ddd;
            padding-top: 12px;
        }

        .e {
            grid-area: eee;
            text-align: center;
        }

        .f {
            grid-area: fff;
            padding-top: 12px;
        }

        .submit {
            grid-area: sub;
            text-align: center;
        }

        #submit {
            background-color: #21ABA5;
            color: white;
            padding: 5%;
            font-size: 16px;
            cursor: pointer;
            border: 1px solid #21ABA5;
            border-radius: 10px;
            margin-top: 20px;
            width: 40%;
        }

        /* Dropdown Button*/
        .dropbtn {
            background-color: #21ABA5;
            color: white;
            padding: 16px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            margin-top: 20px;
            width: 100%;
            border-radius: 10px;
        }

            /* Dropdown hover */
            .dropbtn:hover, .dropbtn:focus {
                background-color: lightgrey;
            }

        /* Search field */
        #nameInput {

            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            border: none;
            border-bottom: 2px solid black;
        }

        nameInput:focus {
            outline: 3px solid lightgray;
        }

        .nameBox {
                width: 100%;
                transform: translate(-5%, -13%);
        }


        /* Innholde på droppdownen */
        .dropdown-content {
            display: none;
            position: absolute;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                display: block;
                text-decoration: none;
            }

        .dropdown a:hover {
            background-color: #f1f1f1;
        }

        .show {
            display: block;
        }

        .dropdown:hover .dropdown-content {
            display: block;
            background-color: white;
        }


        .sharesLoan {
            text-align: center;
        }


        #socialLoan {
            text-align: center;
            width: 100%;
        }

        #sharesLoan {
            text-align: center;
            width: 100%;
        }

        #sharesBought {
            text-align: center;
            width: 100%;
        }

        @media (min-width: 520px) {
            .grid {
                display: grid;
                grid-template-columns: 2fr 2fr;
                grid-template-areas: "meny nm" "choose dato" "aaa bbb" "ccc ddd" "eee fff" "sub sub";
            }

            .d, .f {
                padding-top: 23px;
            }

            #submit {
                padding: 16px;
            }
        }

        @media (min-width: 720px) {
            .wrapper {
                max-width: 1000px;
                margin: 5% 20% 5% 20%;
            }
        }
          /* Switch checkbox */
          .switch {
            position: relative;
            display: inline-block;
            width: 48px;
            height: 23px;
          }
          
          .switch input {display:none;}
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: #21ABA5;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px #21ABA5;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          
          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }


