.statusTable {
    margin: 20px;
    grid-column: 2;
    border-collapse: collapse;
}
.statusTable tr:hover { 
    background-color: #c6e2ec; 
}
.statusTable td {
    border-bottom: groove 1px;
    padding-top: 15px;
}

.statusTable th {
    font-weight: bold;
    text-align: center;
}

.statusTable .right {
    text-align: right;
}

.transactionTable {
    margin: 20px;
    border-collapse: collapse;
}

.transactionTable td, .transactionTable th {
    border: 1px black solid;
    text-align: center;
    padding: 4px;
}
