body {
    background-color: rgba(0,255,85,0.15); /* #00ff5528 */
}

header {
    background: #69bae9;
    color: #000000;
    border-bottom: #0030ce 4px solid;
    margin: -8px;
    margin-top: -21px;
}

#headerTekst {
    text-align: center;
}

.highlight {
    font-size: 1.5em;
}

#menuButton {
    font-size: 30px;
    cursor: pointer;
    padding: 0px 0px 0px 20px;
}

.sidenav {
    width: 240px;
    position: absolute;
    z-index: 1;
    left: 0px;
    background-color: rgb(123, 255, 145);
    transition: 0.5s;
    margin-left: 0px;
    overflow: hidden;
}

    .sidenav a {
        padding: 15px 8px 8px 15px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
        height: 28px;
    }

        .sidenav a:hover {
            color: #ffffff;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 40px;
        margin-left: 40px;
    }

.logo {
    width: 100%;
    height: auto;
    max-width: 600px;    
}

@media screen and (max-height: 450px) {
        .sidenav a {
            font-size: 18px;
        }
}
