* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgba(255, 255, 255); /* #00ff5528 */
}

header {
    background: rgb(0, 134, 186);
    color: #000000;
    border-bottom: rgb(136, 209, 205) 1px solid;
    margin: -8px;
}

#headerTekst {
    text-align: center;
}

.highlight {
    font-size: 1.5em;
}

#menuButton {
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 0px 0px 0px 10px;
}

#breadcrumbs {
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 0px 0px 0px 10px;
}

.sidenav {
    width: 240px;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 45px;
    background-color: rgb(123, 255, 145);
    transition: 0.5s;
    margin-left: 0px;
    overflow: hidden;
}

    .sidenav a {
        padding: 15px 8px 8px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        display: block;
        transition: 0.3s;
        height: 28px;
    }

        .sidenav a:hover {
            color: #ffffff;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 40px;
        margin-left: 40px;
    }

.logo {
    width: 100%;
    height: auto;
    max-width: 600px;    
}

@media screen and (max-height: 450px) {
        .sidenav a {
            font-size: 18px;
        }
}

#startpage {
    font-family: "Trebuchet MS", helvetica, arial;
    margin: auto;
    text-align: center;
}

#startlogo {
    margin-top: 10vh;
    width: 50vh;
}
#startheader {
    font-size: 8vh;
}
#head1 {
    color: rgb(190, 17, 31)
}
#head2 {
    color: rgb(251, 184, 0)
}

#startparagraph {
    margin-top: 3vh;
    color: rgb(85, 72, 79);
    font-weight: bold;
    font-size: 2.7vh;
}

#startselect {
    color: rgb(165, 135, 135);
    margin-top: 2vh;
    padding-right: 6vh;
    padding-left: 6vh;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 2.3vh;
}

#startfield1 {
    padding-right: 5vh;
    padding-left: 5vh;
    padding-top: 4px;
    padding-bottom: 4px;
}

#startfield2 {
    margin-top: 2px;
    padding-right: 5vh;
    padding-left: 5vh;
    padding-top: 4px;
    padding-bottom: 4px;
}

#startbutton {
    margin-top: 5px;
    color: white;
    font-size: 2.7vh;
    font-weight: bold;
    background-color: rgb(29, 177, 91);
    border: 1px solid rgb(31, 169, 83);
    border-radius: 4px;
    padding-right: 13.1vh;
    padding-left: 13.1vh;
    padding-top: 4px;
    padding-bottom: 4px;
}